{% extends "base_generic.html" %}

{% block content %}
  <h1>Carbon Emission Estimation System</h1>
  <p>Welcome to Carbon Emission System, a website developed by <em>Ever Green</em>!</p>
  <h2>Dynamic content</h2>
  <p>The System has the following record counts:</p>
  <ul>
    <li><strong>Materials:</strong> {{ num_materials }}</li>
    <li><strong>Transportations:</strong> {{ num_trans }}</li>
    <li><strong>Energy:</strong> {{ num_energy }}</li>
    <li><strong>Machine:</strong> {{ num_machine }}</li>
  </ul>
{% endblock %}